In [1]:
import pandas as pd
import numpy as np
import os
import math

In [2]:
#make dataframes of csv's obtained from the Bureau of Transportation Statistics 
cwd = os.getcwd()
jan = pd.read_csv(cwd + '/records/Jan.csv')
feb = pd.read_csv(cwd + '/records/Feb.csv')
march = pd.read_csv(cwd + '/records/March.csv')
april = pd.read_csv(cwd + '/records/April.csv')
may = pd.read_csv(cwd + '/records/May.csv')
june = pd.read_csv(cwd + '/records/June.csv')
july = pd.read_csv(cwd + '/records/July.csv')
aug = pd.read_csv(cwd + '/records/Aug.csv')
sept = pd.read_csv(cwd + '/records/Sept.csv')
octo = pd.read_csv(cwd + '/records/Oct.csv')
nov = pd.read_csv(cwd + '/records/Nov.csv')
dec = pd.read_csv(cwd + '/records/Dec.csv')

/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#combine each month 
year = jan.append([feb,march,april,may,june,july,aug,sept,octo,nov,dec])

/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [4]:
len(year)

7321736

In [5]:
year.columns

Index(['ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'ARR_DEL15', 'ARR_DELAY', 'ARR_TIME',
       'CANCELLATION_CODE', 'CANCELLED', 'CARRIER_DELAY', 'CRS_ARR_TIME',
       'CRS_DEP_TIME', 'CRS_ELAPSED_TIME', 'DAY_OF_MONTH', 'DAY_OF_WEEK',
       'DEP_DEL15', 'DEP_DELAY', 'DEP_TIME', 'DEST', 'DEST_CITY_NAME',
       'DISTANCE', 'DIV1_AIRPORT', 'DIV2_AIRPORT', 'DIVERTED',
       'DIV_ACTUAL_ELAPSED_TIME', 'DIV_AIRPORT_LANDINGS', 'DIV_DISTANCE',
       'DIV_REACHED_DEST', 'FL_DATE', 'LATE_AIRCRAFT_DELAY', 'MONTH',
       'NAS_DELAY', 'OP_CARRIER_FL_NUM', 'OP_UNIQUE_CARRIER', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'SECURITY_DELAY', 'TAIL_NUM', 'TOTAL_ADD_GTIME',
       'Unnamed: 30', 'Unnamed: 39', 'WEATHER_DELAY', 'YEAR'],
      dtype='object')

In [6]:
year = year.reindex(columns= ['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE','OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY','CRS_ARR_TIME', 'ARR_TIME', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE','CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY','LATE_AIRCRAFT_DELAY', 'TOTAL_ADD_GTIME','ARR_DEL15','DEP_DEL15'])

In [7]:
year.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,...,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME,ARR_DEL15,DEP_DEL15
0,2018,1,27,6,2018-01-27,UA,N26232,369,FLL,"Fort Lauderdale, FL",...,148.0,966.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,2018,1,27,6,2018-01-27,UA,N477UA,368,SEA,"Seattle, WA",...,98.0,679.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2018,1,27,6,2018-01-27,UA,N13720,367,DCA,"Washington, DC",...,190.0,1208.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,2018,1,27,6,2018-01-27,UA,N16217,366,LAX,"Los Angeles, CA",...,212.0,1744.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,2018,1,27,6,2018-01-27,UA,N33714,365,JAX,"Jacksonville, FL",...,112.0,820.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [8]:
year.columns

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'TOTAL_ADD_GTIME', 'ARR_DEL15', 'DEP_DEL15'],
      dtype='object')