In [1]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

/Users/arihorwitz/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
cwd = os.getcwd()
fall = pd.read_csv(cwd +'/seasons/fall.csv')
spring = pd.read_csv(cwd +'/seasons/spring.csv')
summer = pd.read_csv(cwd +'/seasons/summer.csv')
winter = pd.read_csv(cwd +'/seasons/winter.csv')

In [7]:
delay = winter.append([spring,summer,fall])

In [8]:
delay.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME
0,2018,1,27,6,2018-01-27,UA,N59053,363,EWR,"Newark, NJ",...,683.0,675.0,651.0,4962.0,0.0,0.0,0.0,0.0,19.0,NaN
1,2018,1,27,6,2018-01-27,UA,N38451,301,DEN,"Denver, CO",...,118.0,144.0,85.0,628.0,42.0,0.0,26.0,0.0,0.0,NaN
2,2018,1,27,6,2018-01-27,UA,N819UA,254,DEN,"Denver, CO",...,146.0,123.0,107.0,888.0,65.0,0.0,0.0,0.0,0.0,NaN
3,2018,1,27,6,2018-01-27,UA,N775UA,253,IAH,"Houston, TX",...,525.0,496.0,472.0,3904.0,30.0,0.0,0.0,0.0,0.0,NaN
4,2018,1,27,6,2018-01-27,UA,N34131,242,SFO,"San Francisco, CA",...,341.0,291.0,273.0,2704.0,71.0,0.0,0.0,0.0,0.0,NaN

In [9]:
delay.tail()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME
121239,2018,10,3,3,2018-10-03,AA,N996AN,2240,SEA,"Seattle, WA",...,234.0,246.0,203.0,1660.0,0.0,0.0,12.0,0.0,19.0,NaN
121240,2018,10,4,4,2018-10-04,AA,N153AN,2240,SEA,"Seattle, WA",...,237.0,216.0,195.0,1660.0,NaN,NaN,NaN,NaN,NaN,NaN
121241,2018,10,5,5,2018-10-05,AA,N155NN,2240,SEA,"Seattle, WA",...,237.0,254.0,206.0,1660.0,34.0,0.0,17.0,0.0,0.0,NaN
121242,2018,10,8,1,2018-10-08,AA,N909AM,2240,SEA,"Seattle, WA",...,237.0,235.0,209.0,1660.0,0.0,0.0,56.0,0.0,30.0,NaN
121243,2018,10,9,2,2018-10-09,AA,N900UW,2240,SEA,"Seattle, WA",...,237.0,226.0,193.0,1660.0,0.0,0.0,0.0,0.0,128.0,NaN

In [10]:
len(delay)

1097697

In [12]:
121244 + 251953 + 337250 + 387250

1097697